{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content = "IE=edge">
    <meta name="viewport" content="width=device-width,
    initial-scale=1.0">
    <title>Select Roles</title>
    <link rel="stylesheet" href="{% static 'accounts/style-roles.css' %}">
    <link rel="stylesheet" 
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" 
      integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" 
      crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
  <div class = "roles-box">
    <h1 class="welcome">Welcome to Hydra Explorer!</h1>
    <h2 class="subtitle">Please select your roles to continue</h2>

    <div class="roles">
      <a class="role" href="{% url 'login_admin' %}"><h3><i class="fa-solid fa-user-tie"></i> Admin</h3></a>
      <a class="role" href="{% url 'login_student' %}"><h3><i class="fa-solid fa-graduation-cap"></i> Student</h3></a>
      <a class="role" href="{% url 'login_instructor' %}"><h3><i class="fa-solid fa-person-chalkboard"></i> Instructor</h3></a>
    </div>
  </div>
</body>

</html>